.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10rem 0;
}
.input-container {
  display: flex;
  width: 70%;
  border-bottom: 2px solid #ccc;
  transition: all 0.3s ease;
  padding-bottom: 3px;
}

.input-container input[type="text"] {
  font-size: 20px;
  border: none;
  padding: 5px;
  background-color: transparent;
  outline: none;
}

.input-container:focus-within {
  border-bottom: 3px solid #007bff;
}

.dataResult {
  width: auto;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}
